<!DOCTYPE html>
<html>
<head>
<title>Sans GasPI</title>
<link rel="stylesheet" href="./style.css" />
<script src="./libs/haiku/haiku.js" ></script>
<script src="http://mote.dyndns.biz/libs/haiku.js" ></script>
</head>
<body>
	<nav>
		<ul>
			<li>Nos Commer√ßants</li>
			<li>Nos Paniers</li>
		</ul>
	</nav>
	<header>
		<haiku-searchpanel content="com,cat,loc">
			<div id="com" name="commerÁant">
				<input />
			</div>
			<div id="cat" name="categorie">
				<input type="radio" />
			</div>
			<div id="loc" name="localisation">
				<input />
			</div>
		</haiku-searchpanel>
	</header>
</body>
</html>